h1 {
    color: teal;
    text-align: center;
}

p {
    color: brown;
    font-size: 18px;
}

header {
    background: url(images/central_park.jpg) 0 -200px;
    background-size: 1500px;
    /*background-position: 0 -200px;*/
    /*background-repeat: no-repeat;*/
    height: 400px; /* give header some height */
    padding-top: 100px;
    padding-left: 100px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}

li a {
    text-decoration: none; /* Remove Underline */
}

/* form label,
form input,
form select,
form textarea {
    display: block;
    margin: 10px 0;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%; 
}

input[type="radio"] {
    width: auto; 
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: deepskyblue;
} */
